<div class="Product">

    <b class="pro_name">{{itemInfo && itemInfo.itemName}}</b>
    <div class="proImg">
        <a href="#" data-toggle="modal" data-target=".latestProduct-modal-lg1410">
            <img src="{{itemInfo && itemInfo.itemImage}}" width="" height="" class="img-fluid">
        </a>
    </div>
    <div class="rwDiv">
        <p class="tx3 pro_short_desc">{{itemInfo && itemInfo.itemDescription}}</p>
    </div>
    <h6 class="itemCode">{{itemInfo && itemInfo.itemCode}}</h6>
    <div class="rwDiv">
        <p class="tx5">Rs. {{itemInfo && itemInfo.itemPrice}}.00</p>
    </div>
    <div class="rwDiv">
        <p class="GreenTx">
            Cash Price : Rs. {{itemInfo && itemInfo.itemPrice}}.00 </p>
    </div>
    <div class="rwDiv">
        <div class="rwDiv mb-2">
            <button (click)="btnAddToCart(itemInfo)" class="btn btn-secondary btn-sm float-left addToCart"><i class="fas fa-cart-shopping"></i>
                Add to Cart</button>
            <a href="#" class="btn btn-dark btn-sm float-right" role="button" aria-pressed="true" data-toggle="modal"
                data-target=".latestProduct-modal-lg1410"> View More&nbsp;&nbsp;<i
                    class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="rwDiv text-center">
            <button class="btn btn-danger btn-sm buyNowBtn" role="button" aria-pressed="true" data-id="1410"
                data-qty="1" data-price="339000"><i class="fas fa-cart-plus"></i> Buy Now
                / මිලදී ගැනීමට</button>
        </div>
    </div>
</div>